<mat-card *ngIf="user">
  <mat-card-title>
    Details of {{user.name}}
  </mat-card-title>
  <img 
      src="{{user.picturePath}}"
      alt="{{user.name}}"
      mat-card-image>
  <mat-card-content>     
    <ul>
      <li><strong>Location:</strong> {{user.location}}</li>
      <li><strong>Date Of Birth:</strong> {{user.dob}}</li>
      <li><strong>Nationality:</strong> {{user.nat}}</li>
      <li><strong>Email:</strong> {{user.email}}</li>
      <li><strong>Phone:</strong> {{user.phone}}</li>
      <li><strong>Gender:</strong> {{user.gender}}</li>
      <li><strong>User Name:</strong> {{user.userName}}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button       
      (click)="getUser()"
      mat-button 
      mat-raised-button>
        {{ button.text }}
    </button>
  </mat-card-actions>
</mat-card>
